* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: hsl(217, 54%, 11%);
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
}

.clearFix::after {
    content: '';
    display: block;
    clear: both;
}

.nft-card {
    margin: 20px 0;
    width: 80%;
    min-width: 300px;
    max-width: 350px;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 20px));
    border-radius: 20px;
    background: hsl(216, 50%, 16%);
    box-shadow: 0 20px 10px 15px hsl(219, 51%, 11%), 0 0 15px 30px hsl(219, 55%, 12%);
}

.equil-img {
    position: relative;
    cursor: pointer;
    line-height: 0;
    border-radius: 10px;
    overflow: hidden;
}

.equilibrium {
    width: 100%;
    cursor: pointer;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00fff78f;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .3s;
}

.equil-img:hover .overlay {
    opacity: 1;
}

.view-ico {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nft-info {
    margin-bottom: 15px;
    padding: 15px 0;
    border-bottom: 1px solid hsl(215, 32%, 27%);
}

.collection-name {
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    transition: .3s;
}

.collection-name:hover {
    color: #00FFF8;
}


.description {
    color: rgb(133, 150, 179);
    font-size: 16px;
    margin: 15px 0;
    font-weight: 300;
}

.nft-details {
    font-size: 14px;
}

.eth-value {
    float: left;
}

.ethernum-ico {
    vertical-align: top;
    margin-right: 3px;
}

.eth-rate {
    color: #00FFF8;
}

.remaining-time {
    float: right;
}

.clock-ico {
    vertical-align: text-top;
    margin-right: 3px;
}

.remaining-days {
    color: #8BACD9;
}

.avatar {
    width: 32px;
    vertical-align: middle;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 10px;
}

.signature {
    font-size: 14px;
    color: #8BACD9;
}

.signature span {
    color: white;
    cursor: pointer;
    transition: .3s;
}

.signature span:hover {
    color: #00FFF8;
}

@media (min-width: 1440px) {
    .nft-card {
        max-width: 450px;
    }

    .collection-name {
        font-size: 24px;
    }

    .description {
        font-size: 20px;
    }

    .nft-details {
        font-size: 18px;
    }

    .clock-ico {
        width: 20px;
        vertical-align: sub;
    }

    .ethernum-ico {
        width: 14px;
    }

    .avatar {
        margin-right: 20px;
        width: 48px;
        border: 2px solid white;
    }

    .signature {
        font-size: 18px;
    }

}